<?xml version="1.0" encoding="UTF-8"?>
<Configuration packages="org.apache.logging.log4j.core">
    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1} - %m%n" />
        </Console>

        <!-- File Appender for all logs -->
        <File name="FileAppender" fileName="logs/test-execution.log" append="true">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p [%t] %c{1} - %m%n" />
        </File>

        <!-- Separate file for errors -->
        <File name="ErrorFileAppender" fileName="logs/test-errors.log" append="true">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p [%t] %c{1} - %m%n" />
        </File>

        <!-- Rolling File Appender for daily rotation -->
        <RollingFile name="RollingFile" fileName="logs/test-rolling.log"
                     filePattern="logs/test-rolling-%d{yyyy-MM-dd}.%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p [%t] %c{1} - %m%n" />
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <DefaultRolloverStrategy max="7" />
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- Logger for test packages -->
        <Logger name="com.parabank" level="info" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="FileAppender" />
            <AppenderRef ref="RollingFile" />
        </Logger>

        <!-- Logger for Selenium -->
        <Logger name="org.openqa.selenium" level="warn" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="FileAppender" />
        </Logger>

        <!-- Logger for TestNG -->
        <Logger name="org.testng" level="info" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="FileAppender" />
        </Logger>

        <!-- Root Logger -->
        <Root level="debug">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RollingFile" />
        </Root>
    </Loggers>
</Configuration>

